stages:
  - terragrunt-plan
  - terragrunt-apply

default:
  image: {{ image_registry }}

variables:
  TERRAPLAN_NAME: tfplan

.terragrunt_template:
  before_script:
    - mkdir -p ~/.ssh
    - echo "$GITLAB_DEPLOY_KEY" | tr -d '\r' > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - eval $(ssh-agent -s)
    - ssh-add ~/.ssh/id_rsa
{% for extra_known_host in extra_known_hosts %}
    - ssh-keyscan -H {{ extra_known_host }} >> ~/.ssh/known_hosts
{% endfor %}
    - ssh-keyscan -H github.com >> ~/.ssh/known_hosts
    - LOCATION=$(echo ${CI_JOB_NAME} | cut -d":" -f2)
    - cd ${LOCATION}
{% if enable_asdf == "true" %}
    - apt update && apt-get install gnupg -y
    - git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v0.10.2
    - . $HOME/.asdf/asdf.sh
    - asdf plugin-add terraform https://github.com/asdf-community/asdf-hashicorp.git
    - asdf plugin-add terragrunt https://github.com/ohmer/asdf-terragrunt.git
    - asdf install
{% else %}
    - tfenv install
{% endif %}

{% for account in account_list %}
.{{ account }}_terragrunt_plan_template:
  stage: terragrunt-plan
  extends: .terragrunt_template
  tags:
    - {{ tags_runner }}
  script:
    - terragrunt plan --terragrunt-non-interactive -input=false -refresh=true -out=$TERRAPLAN_NAME

.{{ account }}_terragrunt_apply_template:
  stage: terragrunt-apply
  extends: .terragrunt_template
  tags:
    - {{ tags_runner }}
  when: manual
  script:
    - terragrunt apply -input=false -refresh=false -auto-approve=true $TERRAPLAN_NAME
{% endfor %}

{% for ci_path in ci_path_list  %}
terragrunt-plan:{{ ci_path.path.parent }}:
  extends: .{{ ci_path.account }}_terragrunt_plan_template
  environment:
    name: {{ ci_path.account|default(ci_path.account, true) }}
  only:
    refs:
      - {{ branch_name }}
    changes:
      - {{ ci_path.path.parent }}/*
  artifacts:
    paths:
      - {{ ci_path.path.parent }}/.terragrunt-cache
    expose_as: 'tfplan'
    expire_in: 1 day

terragrunt-apply:{{ ci_path.path.parent }}:
  extends: .{{ ci_path.account }}_terragrunt_apply_template
  environment:
    name: {{ ci_path.account|default(ci_path.account, true) }}
  only:
    refs:
      - {{ branch_name }}
    changes:
      - {{ ci_path.path.parent }}/*
  dependencies:
    - terragrunt-plan:{{ ci_path.path.parent }}
{% endfor %}

